h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: green;
  font-family: courier;
  font-size: 160%;
}

p {
  border: 2px solid powderblue;
  padding: 30px;
  margin: 50px;
}
a:link,
a:visited {
  background-color: #e21e1e;
  color: rgb(10, 10, 10);
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover,
a:active {
  background-color: rgb(109, 41, 41);
}
